body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #74ebd5, #ACB6E5);
  color: #333;
}

.container {
  padding: 40px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 25px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
}

input[type="file"], button {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

button {
  background: #6a11cb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #2575fc;
}

#preview {
  margin-top: 15px;
  max-width: 250px;
  border-radius: 8px;
  border: 2px solid #eee;
}

#result {
  margin-top: 20px;
  font-size: 1.2rem;
}

#colorSwatch {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #333;
  display: none;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #74ebd5, #ACB6E5);
  color: #333;
}

.container {
  padding: 40px;
}

h1 {
  font-size:3.5rem;
  margin: 10px;
}

p {
  font-size: 2.5rem;
  margin: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 25px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
}

input[type="file"], button {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

button {
  background: #6a11cb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #2575fc;
}

#preview {
  margin-top: 15px;
  max-width: 250px;
  border-radius: 8px;
  border: 2px solid #eee;
}

#result {
  margin-top: 20px;
  font-size: 1.2rem;
}

#colorSwatch {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #333;
  display: none;
}
